*{
  
  padding : 2px;
  margin : 5px;
}

.body{
  font-family :'Arial Narrow', Arial, sans-serif;
}
/* Navber style */
.logo{
  font-size : 32px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  color : #0E0E0E;
  font-weight : 800;

}
.btnsi{
  color : #006A50;
  padding : 10px 20px;
  border : 1px solid #006A50;
  font-size : 20px;
  border-radius : 5px;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
.btnsi:hover{
  background-color :darksalmon;
  color : black;
  cursor: pointer;
}
.nav{
  display : flex;
  justify-content : space-between;
}
/* Header style */
.header {
  height : 90vh;
  width : 100wh;
  background-color : #C6E4D6;
  border-radius : 10px;
}
.ht{
  font-size : 24px;
  color : #0E0E0E;
  opacity : 50%;
  margin-bottom : 10px;
}
.mth{
  font-size : 56px;
  color : #0E0E0E;
  margin-bottom : 10px;
}
.btn_header{
  font-size : 18px;
  font-weight : 700;
  color : white;
  background-color: #006A50;
  padding : 12px 24px;
  border-radius : 6px;
  border : none;
  margin-bottom : 10px;
  margin-top : 10px;
}

/* Button Hover Effect */
.btn_header:hover{
  background-color :darksalmon;
  color : black;
  cursor: pointer;
}
.header{
  display : flex;
  align-items : center ;
  justify-content: space-around;
}
.hright{
  height : 400px;
  width : 400px;
}
/* Style for main section */
.mdivt{
  font-size : 35px;
  font-weight : bold;
}
.card1{
  height : 200px;
  width : 270px;
  background-color: antiquewhite;
  padding : 10px 20px 10px 20px;
  border-radius: 10px;
}
.card2{
  height : 200px;
  width : 270px;
  background-color: antiquewhite;
  padding : 10px 20px 10px 20px;
  border-radius: 10px;
}
.card3{
  height : 200px;
  width : 270px;
  background-color: antiquewhite;
  padding : 10px 20px 10px 20px;
  border-radius: 10px;
}
.card3{
  height : 200px;
  width : 270px;
  background-color: antiquewhite;
  padding : 10px 20px 10px 20px;
  border-radius: 10px;
}
.card4{
  height : 200px;
  width : 270px;
  background-color: antiquewhite;
  padding : 10px 20px 10px 20px;
  border-radius: 10px;
}
.card_container{ 
  display : flex;
  justify-content: space-between;
  margin-top :15px;
}
.mdiv{
  margin-top : 10px;
  margin-bottom : 50px;
}
.vision_t{
  font-size : 35px;
  font-weight : bold;
  margin-top : 40px;
}
.btn_vision{
  color : white;
  padding : 10px 20px;
  background-color : #006A50;
  font-size : 20px;
  border-radius : 5px;
  border : none;
  margin-top : 20px;
}
.btn_vision:hover{
  background-color :cornflowerblue;
  color : black;
  cursor: pointer;
}
.tvision{
  font-size : 20px;
  font-weight : bold;
}
.card2_vission{
  height : 250px;
  width : 400px;
  background-color: aquamarine;
  padding : 50px 30px 30px 20px;
  border-radius: 10px;
}
.card2_vission:hover{
  background-color: burlywood;
}
.card3_vission{
  height : 250px;
  width : 400px;
  background-color :salmon;
  padding : 50px 30px 30px 20px;
  border-radius: 10px;
}
.card3_vission:hover{
  background-color :darkgray;
}
.card4_vission{
  height : 250px;
  width : 400px;
  background-color :violet;
  padding : 50px 30px 30px 20px;
  border-radius: 10px;
}
.card4_vission:hover{
  background-color: burlywood;
}
.container_vision{
  display : flex;
  justify-content: space-between;
}
.quote{
  margin-top : 20px;
  background-image: url(/assets/quote-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
}
.qp{
  opacity : 70%;
}
.cpp{
  opacity : 75%;
}
.dr{
  opacity : 80%;
}
.title_opinion{
  font-weight : bold;
  font-size : 35px;
}
.table_container{
  height : 300px;
  width : 100%;
  background-color: aquamarine;
  display : flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
table{
  border-collapse: collapse;
  height: 260px;
  width : 1400px;
  
}
th,td{
  border : 1px solid black;
}
.sellect1{
  height : 100px;
  width : 200px;
}
.news{
  margin-top : 30px;
}
.rnbtn{
  color : white;
  padding : 10px 20px;
  background-color : #006A50;
  font-size : 20px;
  border-radius : 5px;
  border : none;
  margin-top : 20px;
}
.rnbtn:hover{
  background-color :darksalmon;
  color : black;
  cursor: pointer;
}

.imggo{
  border-radius: 15px;
}
.news_card1{
  display : flex;
  align-items : center;
  background-color: whitesmoke;
  border-radius: 20px;
}
.right_news{
  margin-left : 50px;
}
.news_card1{

}
.rnpara{
  margin-top: 10px;
}
.news_card2{
  display : flex;
  align-items : center;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top : 20px;
}